<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- Slate 主题默认样式 -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <!-- 你的自定义 favicon -->
    <link rel="icon" type="image/png" href="/musk.png">
    <link rel="shortcut icon" type="image/png" href="/musk.png">

  </head>
  <body>

    <section>
      {{ content }}
    </section>

  </body>
</html>

